body{
    background-color:lightblue;
  }
  .round{
    border-radius: 50%;
  }

  #my-form{
    width: 50%;
    margin: auto;
    position: relative;
    left:8%;
    display:flex;
    font-weight: bold;
  }

  .inline{
    display: inline-block;
    margin: auto;
  }

  .header-container{
    margin-left: 22%;
    margin-bottom: -15px;
  }

  .felx-container{
    display: flex;    
  }
  
  .felx-container > div{
    margin: 10px;
    padding: 15px;
  }
  
  p{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
  }